<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <!--<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />-->
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>追梦青年旅舍</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/WeChat/css/aui.2.0.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/WeChat/css/base.css" />
    <style type="text/css">

    </style>

</head>

<body ontouchstart="">

<header id="header" >
    <a class="wp-btn header-btn header-left" >
        <span class="aui-iconfont aui-icon-my aui-font-size-18"></span>
    </a>
    <img style="height: 42px;" src="__PUBLIC__/WeChat/images/IMG_1585_max.PNG">
    <a class="wp-btn header-btn header-right" >
        <span class="aui-iconfont aui-icon-comment aui-font-size-18"></span>
    </a>
</header>


<div id="content"  class="aui-content aui-margin-b-15">
    <a href="http:/www.baidu.com">跳转</a>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
    <p>Use "regular" scrolling, where the content immediately ceases to scroll when you remove your finger from the touchscreen.</p>
</div>

<footer id="footer" class="aui-bar aui-bar-tab" >

    <div class="aui-bar-tab-item aui-active" tapmode>
        <i class="aui-iconfont  aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </div>

    <div class="aui-bar-tab-item" tapmode>
        <i class="wp-iconfont  wp-icon-order"></i>
        <div class="aui-bar-tab-label">旅舍预定</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="wp-iconfont wp-icon-path"></i>
        <div class="aui-bar-tab-label">路线定制</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <!--<div class="aui-badge">99</div>-->
        <i class="aui-iconfont aui-icon-cart"></i>
        <div class="aui-bar-tab-label">周边</div>
    </div>
    <!--<div class="aui-bar-tab-item" tapmode>-->
        <!--&lt;!&ndash;<div class="aui-dot"></div>&ndash;&gt;-->
        <!--<i class="aui-iconfont aui-icon-comment"></i>-->
        <!--<div class="aui-bar-tab-label">交流</div>-->
    <!--</div>-->
</footer>
</body>

<script type="text/javascript" src="__PUBLIC__/WeChat/js/jquery.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/WeChat/js/api.js" ></script>
<script type="text/javascript" src="__PUBLIC__/WeChat/js/aui-tab.js" ></script>
<script type="text/javascript">

    var windowH=$(window).height();
    var headerH=$('#header').height();
    var footer=$('#footer').height();
    $('#content').css("margin-top",headerH);
    $('#content').height(windowH-headerH-footer);

//    document.body.addEventListener('touchstart', function () { });

    var tab = new auiTab({
        element:document.getElementById("footer")
    },function(ret){
        console.log(ret);
        if(ret){
//            document.getElementById("demo").textContent = ret.index;
        }
    });
</script>
</html>