@charset "utf-8";

#myMaskBackground{
    display: none;
    background: rgba(0,0,0,0.2);
    z-index: 100;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

#myMaskContent{
    background: rgba(255,255,255,0);
    position: absolute;
    margin-top: 16%;
    margin-left:25%;
    width: 50%;
    height:50%;
    text-align: center;
}


#myMaskMessageBoxBg{
    background: rgba(255,255,255,1);
    position: absolute;
    margin-top: 10%;
    margin-left:25%;
    width: 50%;
    min-height: 240px;
    text-align: center;
}


#myMaskLoadingImg{
    width:100%;
    height:64px;
    background-image:url(../images/loading_more.gif);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 64px 64px;
}

#myMaskMessage{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#myMaskErrorToast{
    width:100%;
    height:64px;
    background-image:url(../images/error.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 64px 64px;
}

#myMaskRightToast{
    width:100%;
    height:64px;
    background-image:url(../images/right.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 64px 64px;
}

#myMaskMessageBoxTitel{
    color: #FFFFFF !important;;
    font-weight: bold;
    font-size: 36px;
    height: 48px;
    line-height:normal;
    background-color: #1abc9c;
}

#myMaskMessageBoxContent{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 36px;
}

#myMaskButtonList{
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 100%;
}

#myMaskMessageBoxEnsureButton{
    color: #FFFFFF;
    font-size: 24px;
    background-color: #1abc9c;
    border: 0px;
    min-width: 96px;
    min-height: 48px;
    font-weight: bold;
    margin-right: 12px;
}

#myMaskMessageBoxCancelButton{
    color: #000000;
    font-size: 24px;
    background-color: #f4f4f4;
    border: 0px;
    min-width: 96px;
    min-height: 48px;
    font-weight: bold;
}
