<include file="Public:header"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/WeChat/css/aui-slide.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/WeChat/css/around/style.css" />

<header id="header" class="aui-bar aui-bar-nav aui-bar-light">
    <a href="javascript:history.back(1);" class="aui-pull-left aui-btn">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div  class="aui-title ">{$info.name}</div>
</header>

<div id="content"  class="aui-content aui-margin-b-15 " >
    <div class=" wp-bg-white wp-margin-a-15-px">
        <div class="wp-pandding-a-15" >
            {$info.detail}
        </div>
    </div>
    <div style="height: 50px;"></div>
</div>

<div style="position: fixed;bottom: 0px;width: 100%;padding: 10px;background-color: white;" class="">
    <div class="aui-row">
        <div  class="aui-col-xs-4">
            <div style="padding: 5px;">
                <i onclick="countUpdate(-1)" style="border: 1px solid #000000;padding: 3px;" class="wp-btn aui-iconfont aui-icon-minus"></i>
                <span id="count" style="text-align: center;display: inline-block;width: 30px;">1</span>
                <i onclick="countUpdate(1)" style="border: 1px solid #000000;padding: 3px;"  class="wp-btn aui-iconfont aui-icon-plus"></i>
            </div>
        </div>
        <div  class="aui-col-xs-4">
            <div style="padding: 5px;">
                <span>￥<span id="cash_fee" style="color: red;" >{$info.price}</span></span>
            </div>
        </div>
        <input id="price" style="display: none;" value="{$info.price}">
        <div class="aui-col-xs-4">
            <div style="text-align: center;background-color: red;color: white;border-radius: 5px;padding: 5px;" class="wp-btn">
                购买
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/WeChat/js/jquery.min.js" ></script>

<script type="text/javascript">

    function toDecimal2(x) {
        var f = parseFloat(x);
        if (isNaN(f)) {
            return false;
        }
        var f = Math.round(x*100)/100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
            rs = s.length;
            s += '.';
        }
        while (s.length <= rs + 2) {
            s += '0';
        }
        return s;
    }

    function countUpdate(val){
        var count=$('#count').html();
        var price=$('#price').val();
        count= parseInt(val)+parseInt(count);
        count<1?count=1:'';
        price=price*count;
        $('#count').html(count);
        $('#cash_fee').html(toDecimal2(price));
    }
</script>
</body>

<script type="text/javascript" src="__PUBLIC__/WeChat/js/aui-tab.js" ></script>
<script type="text/javascript" src="__PUBLIC__/WeChat/js/wp-base.js" ></script>

</html>
