<include file="Layout:header"/>
<link rel="stylesheet" href="__PUBLIC__/Admin/IndexManage/css/style.css" />
<link rel="stylesheet" href="__PUBLIC__/common/wpUploader/css/wp-uploader.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/kindeditor/plugins/code/prettify.css" />

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li >首页</li>
            <li >追梦良品</li>
            <li>良品管理</li>
            <li>添加良品</li>
        </ol>
    </div>
</div>

<div class="container wp-margin-bottom-50px">

    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">缩略图</label>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img alt="缩略图" id="thumbnailImg"  onclick="showWpUploader()" src="__PUBLIC__/WeChat/images/order/homeHeader.png" style="height: 240px; width: 540px; display: block;cursor: pointer;">
                </div>
            </div>
            <input type="text" style="display: none" name="thumbnail" id="thumbnail" value="__PUBLIC__/WeChat/images/order/homeHeader.png">
        </div>

        <div class="form-group" >
            <label for="name" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="name" id="name" placeholder="">
            </div>
        </div>

        <div class="form-group" style="text-align: center">
            <label for="price" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-2">
                <input type="number" min="0.01" step="0.01" class="form-control" id="price" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="brief" class="col-sm-2 control-label">简介</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="brief" name="brief" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label  class="col-sm-2 control-label">详述</label>
            <div class="col-sm-10">
                <textarea id="detail" name="detail" style="width:100%;height:300px;">

                </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="saveInfo()" class="btn btn-success">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/common/wpUploader/js/wp-uploader-core.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/wpUploader/js/wp-uploader.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/wp-globals.js"></script>

<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/plugins/code/prettify.js"></script>

<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/lang/zh-CN.js"></script>


<script>

    wpUploader.formData={'type':'aroound'};
    wpUploader.url=Globals.dataCenterUrl;
    function showWpUploader(){
        wpUploader.uploaded=function(ret){
            ret=JSON.parse(ret);
            if(ret.result==1){
                var val =ret.val;
                var src=val.rootPath+""+val.fileToUpload.savepath+val.fileToUpload.savename;
                $('#thumbnailImg').attr('src',src);
                $('#thumbnail').attr('value',src);
            }else{
                myUi.alert('文件上传失败.',0,function(ret){});
            }
        };
        wpUploader.show();
    }

    KindEditor.ready(function(K) {
        window.editor = K.create('#detail');
    });

    function saveInfo(){
        var thumbnail=$('#thumbnail').val();
        var name=$('#name').val();
        var price=$('#price').val();
        var brief=$('#brief').val();
        price=parseInt(parseFloat(price)*100);
        var classId="{$classId}";

        var editorHtml =""+editor.html();
        var detail=editorHtml;

        data = new FormData();
        data.append("class_id",classId);
        data.append("thumbnail",thumbnail);
        data.append("name",name);
        data.append("price",price);
        data.append("brief",brief);
        data.append("detail",detail);

        var url="{:U('Around/add')}";
        $.ajax({
            data: data,
            type: "POST",
            url: url,
            cache: false,
            contentType: false,
            processData: false,
            success: function(ret) {
                console.log(ret);
                var retJson=JSON.parse(ret);
                if(retJson.result==1)
                {
                    top.topManager.reloadPage('roomType');
                    myUi.alert('成功.',1,function(ret){
                        top.topManager.closePage();
                    });
                }else{
                    myUi.alert('失败.',0,function(ret){});
                }
            },
            error:function(ret){
                myUi.alert('失败.',0,function(ret){});
            }
        });
    }
</script>
<include file="Layout:footer"/>